body {
    margin: 0;
}

.container-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex: 50%;
}

.first-main-div {
    background-image: url(Images/background.png);
    width: 50%;
    background-attachment: fixed;
    background-color: 	#130377;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 0 50%; 
    margin-right: 1px;   
}

#first-div-text {
    color: white;
    margin-top: 350px;
    text-align: center;
    padding-left: 110px;
    position: fixed;
    
}

.second-main-div {
    width: 50%;
    background-color: 	#130377;
}

#search-bar {
    width: 100%;
    padding: 10px 0;
    background-color:#130377;
    color: rgb(219, 216, 216);
    font-size: 10px;
}

.small-images-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #130377;
}

.small-image {
    
    text-align: center;
    color: white;
    display: inline-block;
    border: 1px solid white;
    border-collapse: collapse;
    border-top: none;
    font-size: 10px;
}

#image {
    width: 100%;
}

.small-image:hover {
    background-color: white;
    color: rgb(21, 10, 59);
}

/*Mobile Phone Design*/

@media screen and (max-width:375px) {
    
    .container-content {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    .first-main-div {
        width: 100%;
        height: 45vh;
        background-attachment: initial;
        background-size: 90%;
        background-position: center;
    }

    #search-bar {
        border: 1px solid white;
    }
    
    #first-div-text {
        margin-top: 0;
        background-color: #dcdcdc;
        color: #130377;
        padding-left: 0;
    }
   
    .container-content {
        width: 100%;
        height: fit-content;
    }

    .second-main-div {
        width: 100%;    
     }
    }